/* Por minha conta margens a esquerda e a direita da tabela */
.tab {
    margin-left:1rem;
    margin-right:1rem;
}
.formupd {
    margin-left:1rem;
    margin-right:1rem;
}
casa{
    margin-left:5rem;
    margin-right:5rem;
}